/* AnalyzeResult.css */

.analyze-result-container {
  text-align: center;
  margin-top: 20px;
}

.analyze-result-heading {
  font-size: 36px; /* Increase the font size for a bigger heading */
  color: #007bff; /* Change the text color to a blue shade */
  font-family: 'Arial', sans-serif; /* Use a specific font family or a Google Font for a better look */
  padding: 10px; /* Add some padding to give space around the text */
  border-radius: 5px; /* Round the corners of the heading */
  margin-bottom: 20px; /* Add spacing below the heading */
}

.result-text {
  font-size: 18px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc; /* Add a border for a clean look */
  border-radius: 5px; /* Round the corners of the result box */
  background-color: #f7f7f7; /* Add a light background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* results.css */

/* Container for the entire results section */
.analyze-result-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

/* Styles for the code editor */
.code-editor {
  width: 60%;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Styles for the result details */
.result-details {
  width: 30%;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #f7f7f7; /* Add a light background color behind the heading */
}

.exceeded-message {
  color: red;
}

/* Add this CSS to your results.css file */

/* PDF download button styles */
.pdf-download-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff; /* Blue color, you can change this */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pdf-download-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

/* Styles for PDF document */
.pdf-document {
  background-color: #ffffff;
  padding: 20px;
}

.pdf-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pdf-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.pdf-value {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Heading styles */
.analyze-result-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Paragraph styles for code size and code lines */
.result-details p {
  font-size: 18px;
  margin: 8px 0;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .analyze-result-container {
    flex-direction: column;
  }

  /* Adjust the widths for mobile devices */
  .code-editor,
  .result-details {
    width: 100%;
    margin-bottom: 20px;
  }
}

.pie-chart {
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
}


.btn{
  margin-right: 10px;
  margin-bottom:30px;
}
